@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
	--font-quicksand: "Quicksand", sans-serif;
	--color-blue-medium-tittle: #217FCA;
	--color-black-main-font: #373636;
	--color-main-white-back: #FCFCFC;
	--color-light-blue: rgba(4, 57, 99, 0.8);
	--color-white-second-back: #F0F0F0;
	--color-second-gray: #565656;
	--color-gray-not-checked: rgba(106, 106, 106, 0.5);
}

body {
	font-family: var(--font-quicksand);
}